.formtext {
  text-align: center;
  font-size: 60px;
}

form {
  padding: 10px;
}

label {
  font-size: 30px;
}

input[type="text"] {
  background-color: #ccc;
  width: 45%;
  height: 30px;
  text-align: center;
  margin-left: 27%;
  font-size: 20px;
}

th,
td {
  text-align: center;
  font-size: 20px;
}

nav {
  background: black;
}

nav li a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

nav li a:hover {
  text-decoration: none;
  color: pink;
  font-size: 25px;
}

header {
  margin: 0 auto;
  width: 100%;
  padding: 25px;
}

nav {
  align-items: center;
  border: 1px solid #ccc;
  display: flex;
  height: 75px;
  margin: 25px 0;
  padding: 0 25px;
}

nav ul {
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 15px;
}
