h1 {
  color: black;
  margin: 0.1em;
  font-family: "Times New Roman";
  text-align: center;
  color: white;
}

.homeheader {
  font-size: 80px;
}

#AC1,
#AC2,
#AC3 {
  font-size: 12px;
}

.i {
  font-size: 5px;
  color: white;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-image: url("./background/galaxy.jpg"); */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Times New Roman";
  font-size: 5px;
}

#userCreate {
  padding-top: 20px;
}

.searchbar {
  width: 10%;
  margin-left: 35%;
  text-align: center;
  background-color: white;
}
.buttonspace {
  margin-right: 0.5em;
  color: white;
}

form {
  width: 40%;
  margin-left: 30%;
  font-size: 20px;
  text-align: center;
}

AC {
  width: 40%;
}

create {
  text-align: center;
}

.subcolor {
  color: white;
}
div {
  font-family: "Times New Roman";
  text-align: center;
  font-size: 1.5em;
  margin: 0.1em;
}
div.id {
  font-size: 0.5em;
}

#jawn {
  margin-left: 28%;
  width: 45%;
}
