.changetextsize {
  font-size: 1.5em;
  font-family: "Times New Roman";
}

.changefont {
  font-family: "Times New Roman";
}
.margin {
  margin: 0.5em;
}

.pagelistmain {
  width: 350px;
  height: 350px;
  border-radius: 10px;
  margin: 0.5em;
  animation: myanimation 10s infinite;
}

.grid-container {
  display: grid;
  justify-content: space-around;
}

.make-it-slow {
  box-shadow: 5px 20px 50px pink;
  transition: box-shadow 0.3s ease-in-out;
}

@keyframes myanimation {
  0% {
    box-shadow: 5px 20px 50px red;
  }
  25% {
    box-shadow: 5px 20px 50px yellow;
  }
  50% {
    box-shadow: 5px 20px 50px green;
  }
  75% {
    box-shadow: 5px 20px 50px brown;
  }
  100% {
    box-shadow: 5px 20px 50px red;
  }
}
