h1 {
  color: black;
  font-size: 3em;
  margin: 0.1em;
  font-family: "Times New Roman";
  text-align: center;
}

#AC1, #AC2, #AC3 {
  font-size: 12px;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-image: url("./background/galaxy.jpg"); */
  background-color: rgb(4, 139, 117);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Times New Roman", "lato", sans-serif;
  font-size: large;
}

#userCreate{
 padding-top: 20px;
}

.searchbar{
  width: 30%;
  margin-left: 35%;
  text-align: center;
  background-color: white;
}

div{
  color: black;
  font-family: "Times New Roman";
  font-size: 1.5em;
  margin: 0.1em;
  text-align: center;
}
div.id{
  font-size: 0.5em;
}


#jawn {
  margin-left: 28%;
  width: 45%;
}